<!-- quiz/templates/quiz/school_selection.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>학교 선택</title>
</head>
<body>
    퀴즈 <a href="{% url 'quizzes:ranking' %}">학교별 랭킹</a><br>
    
    <p>{{ user.username }}님의 소속 학교는?</p>

    <form method="POST">
  {% csrf_token %}
  <label for="school">학교를 선택하세요:</label>
  <select name="school_id" required>
    {% for school in schools %}
      <option value="{{ school.id }}">{{ school.name }}</option>
    {% endfor %}
  </select>
  <button type="submit">다음으로</button>
</form>

    {% if messages %}
        {{ message }}
    {% endif %}
</body>
</html>
