{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Era Echo - Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Pretendard 폰트 & CSS / JS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'quizzes/css/2_school.css' %}">
    <script>
      const nextUrl = "{% url 'quizzes:quiz_detail' %}";
    </script>
    <script src="{% static 'quizzes/js/2_school.js' %}"></script>
</head>

<body>
<div class="app-container">
    
  <header class="header">
    <a href="{% url 'home' %}">
        <img src="{% static 'home/image/mainLogo.svg' %}" class="main-logo" />
      </a>
    <button class="menu-toggle" id="menuToggle">
      <img src="{% static 'quizzes/image/Menu.svg' %}">
    </button>
    <nav class="menu" id="menu">
      <ul>
          {% if user.is_authenticated %}
            <li class='menu-link' data-url="{% url 'users:logout' %}">로그아웃</li>
          {% else %}
            <li class='menu-link' data-url="{% url 'users:login' %}">로그인</li>
          {% endif %}
          <div class="divider"></div>
          <li class="menu-link" data-url="{% url 'history:card_intro' %}">과거를 알다: 랜덤 인물 카드</li>
          <li class="menu-link" data-url="{% url 'quizzes:quiz_index' %}">지금을 묻다: 역사 퀴즈</li>
          <li class="menu-link" data-url="/posts/category/1/">미래를 잇다: 커뮤니티</li>
          {% if user.is_authenticated %}
            <li class="menu-link" data-url="{% url 'users:mypage' %}">마이페이지</li>
            {% endif %}
        </ul>
    </nav>
  </header>

  <div class="for-zindex">

    <div class="tab-group">
      <div class="text-wrapper-1">퀴즈</div>
      <div class="text-wrapper-2">학교별 랭킹</div>
      <img class="line-2" src="{% static 'quizzes/image/Line 90.svg' %}" />
    </div>

    <div class="question">
    <h3>Q. {{ user.username }}님의 소속 학교는?</h3>
  </div>

  <form method="POST" id="schoolForm">
    {% csrf_token %}

    <div class="school-selction button">
      {% for school in schools %}
        <button type="button" class="school-button" data-school-id="{{ school.id }}">{{ school.name }}</button>
      {% endfor %}
    </div>

    <!-- 선택된 학교 ID를 숨겨서 보냄 -->
    <input type="hidden" name="school_id" id="selectedSchoolId">

    <button type="submit" class="next" id="submitBtn">
      <span class="next-text">다음으로</span>
      <img class="union" src="{% static 'quizzes/image/Union.svg' %}" />
    </button>
  </form>
</div>

</body>
</html>