<!-- <h2>과거를 알다</h2>

<form action="{% url 'history:random_card' %}">
  <button type="submit">랜덤 인물 카드 뽑기 →</button>
</form>

<form method="post" action="{% url 'home' %}">
  {% csrf_token %}
  <button type="submit">홈 돌아가기</button> -->

{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Era Echo - Home</title>
    <link rel="stylesheet" href="{% static 'home/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/past.css' %}" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <a href="{% url 'home' %}">
        <img src="{% static 'home/image/mainLogo.svg' %}" class="main-logo" />
        </a>
        <button class="menu-toggle" id="menuToggle">&#9776;</button>
        <nav class="menu" id="menu">
          <ul>
            {% if user.is_authenticated %}
              <li>{{ user.username }}님 환영합니다!</li>
              <li class='menu-link' data-url="{% url 'users:logout' %}">로그아웃</li>
            {% else %}
              <li class='menu-link' data-url="{% url 'users:login' %}">로그인</li>
            {% endif %}
            <div class="divider"></div>
            <li class="menu-link" data-url="{% url 'quizzes:quiz_index' %}">지금을 묻다: 역사 퀴즈</li>
            <li class="menu-link" data-url="/posts/category/1/">미래를 잇다: 커뮤니티</li>
            <li class="menu-link" data-url="{% url 'users:mypage' %}">마이페이지</li>
          </ul>
        </nav>
      </header>
      <main class="main">
        <div class="divider"></div>
        <p>과거를 알다</p>
        <img
          src="{% static 'home/image/pastCard.svg' %}"
          alt="pastCardImg"
          class="past-img"
        />
        <form method="post" action="{% url 'history:random_card' %}">
        {% csrf_token %}
        <button class="random-card-btn">
          <img
            src="{% static 'home/image/card_union.png' %}"
            alt="cardUnion"
            class="card-union"
          />
          랜덤 인물 카드 뽑기
        </button>
        </form>
      </main>
    </div>
    <script src="{% static 'home/js/home.js' %}"></script>
  </body>
</html>