<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Era Echo - mypage</title>
    <link rel="stylesheet" href="../../static/posts/css/header.css" />
    <link rel="stylesheet" href="../../static/posts/css/mypage.css" />
    <link rel="stylesheet" href="../../static/posts/css/button.css" />
  </head>
  <body>
    <header class="header">
      <img src="../../static/posts/image/mainLogo.svg" class="main-logo" />
      <button class="menu-toggle" id="menuToggle">&#9776;</button>
      <nav class="menu" id="menu">
        <ul>
          <li>로그인</li>
          <div class="divider"></div>
          <li>과거를 알다</li>
          <li>지금을 묻다</li>
          <li>미래를 잇다</li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="divider"></div>
      <p>미래를 잇다 아카이빙</p>
      <button class="mypage-btn" id="postListBtn">
        <img
          src="../../static/posts/image/Xnix/Line/card_message.png"
          alt="cardMessage1"
          class="card-icon"
        />
        <img
          src="../../static/posts/image/card_union.png"
          alt="cardUnion"
          class="card-union"
        />
        글 목록 조회
      </button>
      <button class="mypage-btn" id="commentListBtn ">
        <img
          src="../../static/posts/image/Xnix/Line/card_message.png"
          alt="cardMessage2"
          class="card-icon"
        />
        <img
          src="../../static/posts/image/card_union.png"
          alt="cardUnion"
          class="card-union"
        />
        댓글 목록 조회
      </button>
    </main>
    <script src="../../static/posts/js/home.js"></script>
  </body>
</html>
