<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/posts/css/header.css" />
    <link rel="stylesheet" href="../../static/posts/css/peopleView.css" />
  </head>
  <body>
    <header class="header">
      <img src="../../static/posts/image/mainLogo.svg" class="main-logo" />
      <button class="menu-toggle" id="menuToggle">&#9776;</button>
      <nav class="menu" id="menu">
        <ul>
          <li>로그인</li>
          <div class="divider"></div>
          <li>과거를 알다</li>
          <li>지금을 묻다</li>
          <li>미래를 잇다</li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="divider"></div>
      <p>인물 카드 조회</p>
      <div class="person-list-wrapper">
        <div class="person-list-box">
          <!-- 인물 카드 1 -->
          <div class="person-row">
            <span class="tag" id="label">이름</span>
            <span class="value">{{ saved.card.name }}</span>
            <span class="tag" id="label">시대</span>
            <span class="value">{{ saved.card.era }}</span>
            <span class="tag" id="label">지역</span>
            <span class="value">{{ saved.card.region }}</span>
            <div class="cardDivider"></div>
          </div>

          <div class="person-row">
            <span class="tag" id="label">이름</span>
            <span class="value">{{ saved.card.name }}</span>
            <span class="tag" id="label">시대</span>
            <span class="value">{{ saved.card.era }}</span>
            <span class="tag" id="label">지역</span>
            <span class="value">{{ saved.card.region }}</span>
            <div class="cardDivider"></div>
          </div>

          <div class="person-row">
            <span class="tag" id="label">이름</span>
            <span class="value">{{ saved.card.name }}</span>
            <span class="tag" id="label">시대</span>
            <span class="value">{{ saved.card.era }}</span>
            <span class="tag" id="label">지역</span>
            <span class="value">{{ saved.card.region }}</span>
            <div class="cardDivider"></div>
          </div>

          <div class="person-row">
            <span class="tag" id="label">이름</span>
            <span class="value">{{ saved.card.name }}</span>
            <span class="tag" id="label">시대</span>
            <span class="value">{{ saved.card.era }}</span>
            <span class="tag" id="label">지역</span>
            <span class="value">{{ saved.card.region }}</span>
            <div class="cardDivider"></div>
          </div>
          <div class="person-row">
            <span class="tag" id="label">이름</span>
            <span class="value">{{ saved.card.name }}</span>
            <span class="tag" id="label">시대</span>
            <span class="value">{{ saved.card.era }}</span>
            <span class="tag" id="label">지역</span>
            <span class="value">{{ saved.card.region }}</span>
            <div class="cardDivider"></div>
          </div>
          <div class="person-row">
            <span class="tag" id="label">이름</span>
            <span class="value">{{ saved.card.name }}</span>
            <span class="tag" id="label">시대</span>
            <span class="value">{{ saved.card.era }}</span>
            <span class="tag" id="label">지역</span>
            <span class="value">{{ saved.card.region }}</span>
            <div class="cardDivider"></div>
          </div>
          <div class="person-row">
            <span class="tag" id="label">이름</span>
            <span class="value">{{ saved.card.name }}</span>
            <span class="tag" id="label">시대</span>
            <span class="value">{{ saved.card.era }}</span>
            <span class="tag" id="label">지역</span>
            <span class="value">{{ saved.card.region }}</span>
            <div class="cardDivider"></div>
          </div>
        </div>
        <!-- 페이지네이션 -->
        <div class="pagination">
          <button class="page-btn-back">&lt;</button>
          <button class="page-btn active">1</button>
          <button class="page-btn">2</button>
          <button class="page-btn">3</button>
          <button class="page-btn">4</button>
          <button class="page-btn">5</button>
          <button class="page-btn-next">&gt;</button>
        </div>
      </div>
    </main>
    <script src="../../static/posts/js/home.js"></script>
    <script src="../../static/posts/js/person.js"></script>
  </body>
</html>
