<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Era Echo - Home</title>
    <link rel="stylesheet" href="../../static/posts/css/header.css" />
    <link rel="stylesheet" href="../../static/posts/css/past.css" />
    <link rel="stylesheet" href="../../static/posts/css/peopleCard.css" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <img src="../../static/posts/image/mainLogo.svg" class="main-logo" />
        <button class="menu-toggle" id="menuToggle">&#9776;</button>
        <nav class="menu" id="menu">
          <ul>
            <li>로그인</li>
            <div class="divider"></div>
            <li>과거를 알다</li>
            <li>지금을 묻다</li>
            <li>미래를 잇다</li>
          </ul>
        </nav>
      </header>
      <main class="main">
        <div class="peopleCard">
          <img
            src="../../static/posts/image/card_people1.svg"
            alt="people-img"
            class="people-img"
          />
          <div class="person-info">
            <h3 class="person-name">
              유관순 <span class="person-date">(1902.12.06 - 1920.09.28)</span>
            </h3>
            <ul class="person-meta">
              <li><span class="label">시대</span> 20세기 초</li>
              <li><span class="label">지역</span> 아시아</li>
              <li>
                <span class="label">설명</span>
                일제강점기에 3.1운동으로 시작된 만세 운동을 하다 일본 형사들에게
                붙잡혀 서대문형무소에서 이뤄진 모진 고문으로 인해 순국했다.
              </li>
            </ul>
          </div>
        </div>

        <button class="card-save-btn">
          <img
            src="../../static/posts/image/save_union.svg"
            alt="cardSave"
            class="card-union"
          />
          인물 카드 저장하기
        </button>
      </main>
    </div>
    <script src="../../static/posts/js/home.js"></script>
  </body>
</html>
