.mypage-btn {
  position: relative;
  width: 320px;
  height: 50px;
  border: none;
  border-radius: 1rem;
  background-color: #f6ffef;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.card-union {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.card-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.random-card-btn,
.card-save-btn {
  position: relative;
  width: 320px;
  height: 50px;
  border: none;
  border-radius: 1rem;
  background-color: #f6ffef;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.random-card-btn.clicked,
.card-save-btn.clicked {
  background-color: #91c84f !important; /* 클릭됐을 때 색 */
}

#bookMark2, #bookMark{
  margin-left: 10px;
}