* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 162px;
  background-color: transparent;
  position: relative;
}

.logo {
  font-size: 0.9375rem;
  font-weight: bold;
  color: #4c6d1e;
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0 0 1.5rem 1.5rem;
}

.menu ul {
  list-style: none;
  padding-top: 100px;
}

.menu li {
  color: white;
  padding: 0.75rem 3rem;
  margin: 0.25rem 0;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  text-align: left;
}

/* 클릭된 항목 전용 스타일 */
.menu li.active {
  background-color: #d5eab3;
  color: #1c1c1c;
}

.menu.active {
  display: flex;
  background-color: rgba(64, 72, 52, 0.9);
  width: 100%;
}

.menu .divider {
  height: 1px;
  background-color: #f2f2f2;
  margin: 30px 3rem;
}

.menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #4c6d1e;
}
