* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 162px;
  background-color: transparent;
  position: relative;
}

.logo {
  font-size: 0.9375rem;
  font-weight: bold;
  color: #4c6d1e;
}

.menu {
    display: none;
    flex-direction: column;
    position: fixed; /* absolute에서 fixed로 변경 */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 23.4375rem; /* 앱 컨테이너와 동일한 너비 */
    padding: 1rem 0;
    border-radius: 0 0 1.5rem 1.5rem;
    z-index: 1000; /* 메뉴가 맨 위에 나타나도록 */
}

.menu ul {
    list-style: none;
    padding-top: 100px;
}

.menu li {
    color: white;
    padding: 0.75rem 3rem;
    margin: 0.25rem 0;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
    text-align: left;
}

.menu li.active {
    background-color: #d5eab3;
    color: #1c1c1c;
}

.menu.active {
    display: flex;
    background-color: rgba(64, 72, 52, 0.9);
    width: 100%;
}

.menu .divider {
    height: 1px;
    background-color: #f2f2f2;
    margin: 30px 3rem;
}

.menu-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #4c6d1e;
    z-index: 900;
    
}


/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

@media (max-width: 375px) {
  .app-container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }
}

.for-zindex{
    z-index: 10;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;  
  background-color: #D5EAB3;
  font-family: "Pretendard", sans-serif;
}

.app-container {
  width: 23.4375rem;
  height: 50.75rem;
  aspect-ratio: 23.4375 / 50.75; 
  background: #D5EAB3;
  border-radius: 1.5rem;
  display: flex; 
  flex-direction: column; 
  overflow: hidden;
  position: relative;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.tab-group {
  margin-left: 1rem;
  font-size: 0;
}

.tab-group .text-wrapper-1 {
  position: relative;
  margin-bottom: 0px;
  left: 15px;
  text-shadow: 0px 0px 2px #00000040;
  font-family: "Pretendard", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #4c6d1e;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.tab-group .text-wrapper-2 {
  position: relative;
  left: 86px;
  bottom: 18px;
  font-family: "Pretendard", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #919191;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.tab-group .line-2 {
  margin-top: 0px;
  width: 62px;
  top: 2px;
  left: -1px;
  position: relative;
  height: 2px;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.now{
  padding-top: 2.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.Results {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  color: #4c6d1e;
}


#Results-text {
  font-size: large;
  font-weight: 700;
  margin-right: 10px;
}

#score-text {
  font-size: large;
  font-weight: 700;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.next {
  background: #fff;           
  border: none;
  border-radius: 15px;
  padding: 1.2rem;
  font-size: 14px;
  font-weight: 700;       
  text-align: center; 
  cursor: pointer;
  box-shadow: 3px 3px 3px 3px #b8b6b626;    
  width: 90%;
  margin-left: 0.7rem;
  position: relative; 
  display: block;    
  margin-top: 3rem;  
}

.next-text {
  text-align: center;
  font-weight: 700;
}

.next .union {
  position: absolute;
  right: 1.5rem;              
  top: 50%;
  transform: translateY(-50%);
  height: auto; 
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.container button {
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 1.2rem;
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1a;
  text-align: center;
  cursor: pointer; 
  width: 90%;
  margin-left: 0.7rem;
  margin-top: 1rem;
}

#prob1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem; 
  box-shadow: 3px 3px 3px 3px #b8b6b626;   
}

#prob2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem; 
  box-shadow: 3px 3px 3px 3px #b8b6b626;   
}

#prob3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem; 
  box-shadow: 3px 3px 3px 3px #b8b6b626;   
}

#prob1 .union {
  position: absolute;
  right: 1.5rem;
  top: 50%; 
  transform: translateY(-50%);
  height: auto;
}

#prob2 .union {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}

#prob3 .union {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}

.prob3-text {
  margin-right: 1.5rem;
}

.total-score {
  background: #91C84F;           
  border: none;
  border-radius: 10px;
  padding: 0.8rem;
  font-size: 14px;
  font-weight: 600;       
  text-align: center; 
  box-shadow: 3px 3px 3px 3px #b8b6b626;   
  width: 20%;         
  position: relative; 
  display: block;
  margin-top: 2.7rem;
  margin-bottom: 4rem;
  margin-left: 35%;
}