<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Era Echo - Quiz</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/Now/css/1_intro.css">
    <script src="../../static/Now/js/1_intro.js"></script>
</head>
<body>

<div class="app-container">
    
    <header class="header">
      <img src="../../static/Now/image/mainLogo.svg" class="main-logo" />
        <button class="menu-toggle" id="menuToggle">
          <img src="../../static/Now/image/Menu.svg">
        </button>
        <nav class="menu" id="menu">
          <ul>
            <li>로그인</li>
            <div class="divider"></div>
            <li>과거를 알다</li>
            <li>지금을 묻다</li>
            <li>미래를 잇다</li>
          </ul>
        </nav>
      </header>

<!--━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->

      <div class="tab-group">
        <div class="text-wrapper-1">퀴즈</div>
        <div class="text-wrapper-2">학교별 랭킹</div>
        <img class="line-2" src="../../static/Now/image/Line 90.svg" />
      </div>

<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

   <div class="now">
        <div class="main-ment">
          <img class="line-1" src="../../static/Now/image/Line 91.svg" />
          <div class="text-wrapper">
            현재를 묻다
          </div>
        </div>
        <img class="image-removebg" src="../../static/Now/image/3ae136c5506c1a77054c19a675e54824e30a292e.png" />
      </div>
      <button type="submit" class="next">
          <span class="next-text">퀴즈 풀기</span>
          <img class="union" src="../../static/Now/image/Union.svg" />
      </button>
  </div>
</body>
</html>