<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Era Echo - Home</title>
    <link rel="stylesheet" href="../../static/Now/css/2_school.css">
</head>
<body>

  <div class="app-container">

      <header class="header">
        <img src="../../static/Now/image/mainLogo.svg" class="main-logo" />
        <button class="menu-toggle" id="menuToggle">&#9776;</button>
        <nav class="menu" id="menu">
          <ul>
            <li>로그인</li>
            <div class="divider"></div>
            <li>과거를 알다</li>
            <li>지금을 묻다</li>
            <li>미래를 잇다</li>
          </ul>
        </nav>
      </header>
  <!--━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->
  
  <section class="quiz-section">
        <div class="tab-group">
          <div class="text-wrapper-3">퀴즈</div>
          <div class="text-wrapper-4">학교별 랭킹</div>
          <img class="line-2" src="../../static/Now/image/Line 90.svg" />
        </div>
        <div class="question">
          <h3>Q. 당신의 소속 학교는?</h3>
        </div>
        <div class="button-container">
        <form class="school-selction">
          <button type="button">덕성여자대학교</button>
          <button type="button">동덕여자대학교</button>
          <button type="button">서울여자대학교</button>
          <button type="button">성신여자대학교</button>
          <button type="button">숙명여자대학교</button>
          <button type="button">이화여자대학교</button>
          <button type="submit" class="next-button">
            <span class="next-text">다음으로</span>
            <img class="union" src="../../static/Now/image/Union.svg" />
          </button>
        </form>
        </div>
  </section>


</body>
</html>