<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Era Echo - Quiz</title>
    <link rel="stylesheet" href="../../static/Now/css/3-3_quiz.css">
    <script src="../../static/Now/js/3-3_quiz.js"></script>
</head>
<body>
    <div class="app-container">

      <header class="header">
        <img src="../../static/Now/image/mainLogo.svg" class="main-logo" />
        <button class="menu-toggle" id="menuToggle">
          <img src="../../static/Now/image/Menu.svg">
        </button>
        <nav class="menu" id="menu">
          <ul>
            <li>로그인</li>
            <div class="divider"></div>
            <li>과거를 알다</li>
            <li>지금을 묻다</li>
            <li>미래를 잇다</li>
          </ul>
        </nav>
      </header>

<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->
    
        <div class="tab-group">
          <div class="text-wrapper-1">퀴즈</div>
          <div class="text-wrapper-2">학교별 랭킹</div>
          <img class="line-2" src="../../static/Now/image/Line 90.svg" />
        </div>
        
 <div class="for-zindex">
<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

    <div class="now">
      <div class="question">
        <span id="question-Q">Q.</span>
        <span id="question-text">질문을 불러오는 중..</span>
      </div>
      <div class="container">
          <form class="selction" id="quiz-form">
            <button class="select-box" type="button">
              <img src="../../static/Now/image/_Num_1.png"> 
              <span class="text">
              로딩중..</span>
            </button>
            <button class="select-box" type="button">
              <img src="../../static/Now/image/_Num_2.png"> 
              <span class="text">로딩중..</span>
            </button>
            <button class="select-box" type="button">
              <img src="../../static/Now/image/_Num_3.png"> 
              <span class="text">로딩중..</span>
            </button>
            <button class="select-box" type="button">
              <img src="../../static/Now/image/_Num_4.png"> 
              <span class="text">로딩중..
            </button>
          </form>
        <img class="order" src="../../static/Now/image/order_3rd.svg">
        <button type="submit" class="next">
          <span class="next-text">다음으로</span>
            <img class="union" src="../../static/Now/image/Union.svg" />
        </button>
      </div>
  </div>

</div>   
</body>
</html>