<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Era Echo - Quiz</title>
    <link rel="stylesheet" href="../../static/Now/css/4_score.css">
    <script src="../../static/Now/js/4_score.js"></script>
</head>
<body>

<div class="app-container">
    
    <header class="header">
      <img src="../../static/Now/image/mainLogo.svg" class="main-logo" />
        <button class="menu-toggle" id="menuToggle">
          <img src="../../static/Now/image/Menu.svg">
        </button>
        <nav class="menu" id="menu">
          <ul>
            <li>로그인</li>
            <div class="divider"></div>
            <li>과거를 알다</li>
            <li>지금을 묻다</li>
            <li>미래를 잇다</li>
          </ul>
        </nav>
      </header>

 <div class="for-zindex"> 
<!--━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->

        <div class="tab-group">
          <div class="text-wrapper-1">퀴즈</div>
          <div class="text-wrapper-2">학교별 랭킹</div>
          <img class="line-2" src="../../static/Now/image/Line 90.svg" />
        </div>
  
<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

    <div class="now">

      <div class="Results">
        <span id="Results-text">결과 : </span>
        <span id="score-text"> 총 
          <span id="correct-count"> 0</span>/3문제를 맞췄습니다!</span>
      </div>
         <div class="container">
            <button id="prob1">
              <span class="prob1-text">?</span>
            <img class="union" src="../../static/Now/image/Union_prob_.svg" />
            </button> 
            <button id="prob2">
              <span class="prob2-text">?</span>
            <img class="union" src="../../static/Now/image/Union_prob_.svg" />
            </button>
          <button id="prob3">
              <span class="prob3-text">?</span>
            <img class="union" src="../../static/Now/image/Union_prob_.svg" />
            </button>
          </div>

            <div class="total-score" id="tot_score">
              <h3>총점 : 0 점</h3>
            </div>
          <button type="submit" class="next">
            <span class="next-text">랭킹 보기</span>
              <img class="union" src="../../static/Now/image/Union.svg" />
          </button>
     </div>

    
</body>
</html>