<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Era Echo - Quiz</title>
    <link rel="stylesheet" href="../../static/Now/css/5_sol.css">
    <script src="../../static/Now/js/5_sol.js"></script>
</head>
<body>

<div class="app-container">
    
    <header class="header">
      <img src="../../static/Now/image/mainLogo.svg" class="main-logo" />
        <button class="menu-toggle" id="menuToggle">
          <img src="../../static/Now/image/Menu.svg">
        </button>
        <nav class="menu" id="menu">
          <ul>
            <li>로그인</li>
            <div class="divider"></div>
            <li>과거를 알다</li>
            <li>지금을 묻다</li>
            <li>미래를 잇다</li>
          </ul>
        </nav>
      </header>

<!--━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->


 <div class="for-zindex">
<!--━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->

        <div class="tab-group">
          <div class="text-wrapper-1">퀴즈</div>
          <div class="text-wrapper-2">학교별 랭킹</div>
          <img class="line-2" src="../../static/Now/image/Line 90.svg" />
        </div>
  
<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

<div class="solution-box">
  <div class="answer">
    <span id="answer">정답</span>
    <span id="answer_detail">3. 1948년 제헌 헌법 제정</span>
  </div>
  <div class="exp">
    <span id="exp">해설</span>
    <span id="exp_detail">대한민국은 1948년 제헌 헌법을 통해 남녀 모두의 보통·평등 선거권을 명시했 습니다. 이는 아시아 국가 중 비교적 빠른 편에 속하는 조치로, 당시 여성계에서도 큰 진전이었습니다.</span>
  </div>
</div>

<button type="submit" class="back">
  <span class="back-text">뒤로 가기</span>
    <img class="union" src="../../static/Now/image/Union_back.svg" />
</button>
  
</div>

    
</body>
</html>


