<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Era Echo - Quiz</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/Now/css/6_ranking.css">
    <script src="../../static/Now/js/6_ranking.js"></script>
</head>
<body>

<div class="app-container">
    
    <header class="header">
      <img src="../../static/Now/image/mainLogo.svg" class="main-logo" />
        <button class="menu-toggle" id="menuToggle">
          <img src="../../static/Now/image/Menu.svg">
        </button>
        <nav class="menu" id="menu">
          <ul>
            <li>로그인</li>
            <div class="divider"></div>
            <li>과거를 알다</li>
            <li>지금을 묻다</li>
            <li>미래를 잇다</li>
          </ul>
        </nav>
      </header>

 <div class="for-zindex">
<!--━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━-->

      <div class="tab-group">
        <div class="text-wrapper-1">퀴즈</div>
        <div class="text-wrapper-2">학교별 랭킹</div>
        <img class="line-2" src="../../static/Now/image/Line 90.svg" />
      </div>

<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

         <div class="container">
            <div class="rank-box" id="rank1">
              <img src="../../static/Now/image/rank_1.svg">
              <span class="rank-text">1등여대</span>
              <span class="rank-score">000점</span>
            </div>
            <div class="rank-box" id="rank2">
              <img src="../../static/Now/image/rank_2.svg">
              <span class="rank-text">2등여대</span>
              <span class="rank-score">000점</span>
            </div>
            <div class="rank-box" id="rank3">
              <img src="../../static/Now/image/rank_3.svg">
              <span class="rank-text">3등여대</span>
              <span class="rank-score">000점</span>
            </div>
            <div class="rank-box" id="rank4">
              <img src="../../static/Now/image/rank_4.svg">
              <span class="rank-text">4등여대</span>
              <span class="rank-score">000점</span>
            </div>
            <div class="rank-box" id="rank5">
              <img src="../../static/Now/image/rank_5.svg">
              <span class="rank-text">5등여대</span>
              <span class="rank-score">000점</span>
            </div>
            <div class="rank-box" id="rank6">
              <img src="../../static/Now/image/rank_6.svg">
              <span class="rank-text">6등여대</span>
              <span class="rank-score">000점</span>
            </div>
        </div>

</body>
</html>