<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Era Echo - Quiz</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/Now/css/Future_home.css">
    <script src="../../static/Now/js/Future_home.js"></script>
  </head>
<body>

<div class="app-container">
    
    <header class="header">
      <img src="../../static/Now/image/mainLogo.svg" class="main-logo" />
        <button class="menu-toggle" id="menuToggle">
          <img src="../../static/Now/image/Menu.svg">
        </button>
        <nav class="menu" id="menu">
          <ul>
            <li>로그인</li>
            <div class="divider"></div>
            <li>과거를 알다 </li>
            <li>지금을 묻다</li>
            <li>미래를 잇다</li>
          </ul>
        </nav>
      </header>

<div class="for-zindex">
<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

    <div class="main-ment">
        <img class="line-1" src="../../static/Now/image/Line 91.svg" />
        <div class="text-wrapper">
            미래를 잇다
        </div>
    </div>

    <div class="Search">
        <img src="../../static/Now/image/Future_Search.svg">
        <form>
            <input type="text">
        </form>
    </div>

    <div class="category">
        <span class="tag" id="tag1">#취업</span>
        <span class="tag" id="tag2">#업계</span>
        <span class="tag" id="tag3">#멘탈관리</span>
        <span class="tag" id="tag4">#수다</span>
        <span class="tag" id="tag5">#성공담</span>
        <span class="tag" id="tag6">#실패담</span>
        <span class="tag" id="tag7">#자유글</span>
        <span class="tag" id="tag8">#질문</span>
        <span class="tag" id="tag9">#고민글</span>
        <span class="tag" id="tag10">#생활</span>
    </div>

 <div class="articles">
    <!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

  <div class="Article-list">
    <div class="Main">
        <span id="Title">개발자 취업</span>
        <span id="Job">ㅤ·ㅤ취준생</span>
    </div>
    <div class="Sub">
        <div id="Contents">프론트엔드 개발자로 취업하고 싶은데 방법을 모르겠네요.. 대체 어떤거부터 공부를 해야하는걸까요? 너무 막연한 도전일까 두렵기도 합니다. 취업하신 선배님들 간단한 조언 부탁드리겠습니다!</div>
        <span class="Hashtag">#취업</span>
        <span class="Hashtag">#멘탈관리</span>
        <span class="Hashtag">#질문글</span>
    </div>
    <img class="articleline" src="../../static/Now/image/Future_Line .png">
    <div class="Comment">
        <input type="text" placeholder="서사를 함께 이어나가 보아요!">
        <img src="../../static/Now/image/Future_Send.svg">
    </div>
  </div>

<!-- ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ -->

  <div class="Article-list">
    <div class="Main">
        <span id="Title">1년전 취뽀 후기</span>
        <span id="Job">ㅤ·ㅤ현업자</span>
    </div>
    <div class="Sub">
        <div id="Contents">작년 이맘때쯤의 제가 생각이 나서 이렇게 글을 써 봅니다. 여러분들 이제 슬슬 날씨도 더워지고 정말 지칠 수도 있는 시기가 다가왔는데요! 제가 어떻게 이런 과정을 극복해왔는지 ...더보기</div>
        <span class="Hashtag">#성공담</span>
        <span class="Hashtag">#취업</span>
    </div>
    <img class="articleline" src="../../static/Now/image/Future_Line .png">
    <div class="Comment">
        <input type="text" placeholder="서사를 함께 이어나가 보아요!">
        <img src="../../static/Now/image/Future_Send.svg">
  </div>
</div>

</div> 
<!-- 요건 ↑ z인덱스용 div -->

</div>
<!-- 요건 ↑ app-container용 div -->