{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/person.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/mypage.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/peopleView.css' %}" />
  </head>
  <body>
    <header class="header">
      <a href="{% url 'home' %}">
        <img src="{% static 'home/image/mainLogo.svg' %}" class="main-logo" />
      </a>
      <button class="menu-toggle" id="menuToggle">&#9776;</button>
      <nav class="menu" id="menu">
        <ul>
          {% if user.is_authenticated %}
            <li class='menu-link' data-url="{% url 'users:logout' %}">로그아웃</li>
          {% else %}
            <li class='menu-link' data-url="{% url 'users:login' %}">로그인</li>
          {% endif %}
          <div class="divider"></div>
          <li class="menu-link" data-url="{% url 'history:card_intro' %}">과거를 알다: 랜덤 인물 카드</li>
          <li class="menu-link" data-url="{% url 'quizzes:quiz_index' %}">지금을 묻다: 역사 퀴즈</li>
          <li class="menu-link" data-url="/posts/category/1/">미래를 잇다: 커뮤니티</li>
          {% if user.is_authenticated %}
            <li class="menu-link" data-url="{% url 'users:mypage' %}">마이페이지</li>
            {% endif %}
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="divider"></div>
      <p>인물 카드 조회</p>
      <div class="person-list-wrapper">
        <div class="person-list-box">
          {% for saved in saved_cards %}
          <div class="person-row">
            <a href="{% url 'users:my_cards_detail' saved.card.id %}">
              <span class="tag" id="label">이름</span>
              <span class="value">{{ saved.card.name }}</span>
              <span class="tag" id="label">시대</span>
              <span class="value">{{ saved.card.era }}</span>
              <span class="tag" id="label">지역</span>
              <span class="value">{{ saved.card.region }}</span>
            </a>
            <div class="'cardDivider"></div>
          </div>
          {% empty %}
            <p>저장한 카드가 아직 없어요 😢</p>
          {% endfor %}
        </div>
        <!-- 페이지네이션 -->
        <!-- <div class="pagination">
          
          <button class="page-btn-back">&lt;</button>
          <button class="page-btn active">1</button>
          <button class="page-btn">2</button>
          <button class="page-btn">3</button>
          <button class="page-btn">4</button>
          <button class="page-btn">5</button>
          <button class="page-btn-next">&gt;</button>
        </div>
      </div> -->

      <div class="pagination">
        {% if saved_cards.has_previous %}
          <a href="?page={{ saved_cards.previous_page_number }}" class="page-btn page-btn-back">&lt;</a>
        {% endif %}

        {% for num in saved_cards.paginator.page_range %}
          {% if saved_cards.number == num %}
            <span class="page-btn active">{{ num }}</span>
          {% else %}
            <a href="?page={{ num }}" class="page-btn">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if saved_cards.has_next %}
          <a href="?page={{ saved_cards.next_page_number }}" class="page-btn page-btn-next">&gt;</a>
        {% endif %}
      </div>


<!-- <div class="pagination">
  {% if saved_cards.has_previous %}
    <a href="?page={{ saved_cards.previous_page_number }}">«</a>
  {% endif %}

  {% for num in saved_cards.paginator.page_range %}
    {% if saved_cards.number == num %}
      <span class="page-btn active">{{ num }}</span>
    {% else %}
      <a href="?page={{ num }}" class="page-btn">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if saved_cards.has_next %}
    <a href="?page={{ saved_cards.next_page_number }}">»</a>
  {% endif %}
</div> -->
      
    </main>
    <script src="{% static 'home/js/home.js' %}"></script>
    <!-- <script src="{% static 'home/js/person.js' %}"></script> -->
  </body>
</html>