
@media (max-width: 375px) {
  .app-container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;  
  background-color: #D5EAB3;
  font-family: "Pretendard", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}

.for-zindex{
    z-index: 10;
    overflow-x : hidden; 
    overflow-y : auto;  
    scrollbar-width: thin; 
}

.app-container {
  width: 23.4375rem;
  height: 50.75rem;
  aspect-ratio: 23.4375 / 50.75; 
  background: #D5EAB3;
  border-radius: 1.5rem;
  display: flex; 
  flex-direction: column; 
  position: relative;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.main-ment {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.line-1 {
  width: 62px;
  height: 2px;
  margin: 0 auto 1rem auto;
  display: block;
}

.text-wrapper {
  text-shadow: 0px 0px 4px #ffffff80;
  font-family: "Pretendard-Bold", Helvetica;
  color: #4c6d1e;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: 3rem;
}

.Search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  background-color: #F3FFE0;
  border-radius: 12px;
  padding: 0.7rem;  
  width: 80%;
  box-shadow: 1px 1px 2px 5px #7a787826;    
  margin: 0 auto 5rem auto ;
}

.Search img {
  height: auto;
}

.Search input {
    background-color: transparent;
    border: transparent;
    height: 1.6rem;
}

.category {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 100%;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;  
    -webkit-overflow-scrolling: touch; /* iOS*/
    scrollbar-width: none; /* 파폭 */
    -ms-overflow-style: none; /* 엣지용*/
}

.category::-webkit-scrollbar {
    display: none;
}

.tag {
    cursor: pointer;
    background-color: #F3FFE0;
    color: #9F9F9F;
    padding: 0.45rem 0.7rem 0.4rem 0.7rem ;
    border-radius: 0.6rem;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 0.3rem;
    margin-bottom: 2rem;
    display: inline-block; 
    white-space: nowrap; 
    flex-shrink: 0; 
    box-shadow: 0px 0px 3px #00000026;
}

  .tag.active {
    background-color: #91C84F;
    color: #4C6D1E; 
  }

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.Article-list {
  background: #4C6D1E;      
  border: none;
  border-radius: 15px;
  padding: 1.2rem;  
  box-shadow: 3px 3px 3px 3px #b8b6b626;   
  width: 80%;
  height: fit-content;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1.5rem;
  position: relative; 
  display: block;
}

.Article-list .articleline {
   width: 100%;
}

.Title {
    cursor: pointer;
    color: #91C84F;
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.Job {
    color: white;
    margin: 0.5rem;
    font-weight: 90;
    font-size: 0.7rem;
}

.Contents {
    color: white;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    font-weight: 200;
    font-size: 0.9rem;
    line-height: 150%;
}

.Hashtag {
    cursor: pointer;
    position: relative;
    background-color: #91C84F;
    padding: 0.4rem 0.25rem 0.4rem 0.25rem ;
    border-radius: 0.375rem;
    font-weight: 200;
    font-size: 0.75rem;
    line-height: 150%;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}


/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.input-text {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

