* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 1.5rem;
  height: 3.5rem;
  background-color: transparent;
  position: relative;
}

.logo {
  font-size: 0.9375rem;
  font-weight: bold;
  color: #4c6d1e;
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0 0 1.5rem 1.5rem;
}

.menu ul {
  list-style: none;
  padding-top: 100px;
}

.menu li {
  color: white;
  padding: 0.75rem 3rem;
  margin: 0.25rem 0;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  text-align: left;
}

/* 클릭된 항목 전용 스타일 */
.menu li.active {
  background-color: #d5eab3;
  color: #1c1c1c;
}

.menu.active {
  display: flex;
  background-color: rgba(34, 40, 25, 0.95);
  width: 100%;
}

.menu .divider {
  height: 1px;
  background-color: #f2f2f2;
  margin: 30px 3rem;
}

.menu-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #3b2f2f;
}

body {
  font-family: "Pretendard", sans-serif;
  background: linear-gradient(#d5eab3);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .divider {
  height: 2px;
  background-color: #4c6d1e;
  width: 60px;
  margin-bottom: 20px;
}

.main p {
  color: #4c6d1e;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 78px;
}

.main img {
  margin-bottom: 87px;
}

.random-card-btn,
.card-save-btn {
  position: relative;
  width: 320px;
  height: 50px;
  border: none;
  border-radius: 0.5rem;
  background-color: #f6ffef;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.random-card-btn.hovered {
  background-color: #91c84f;
}

.peopleCard {
  width: 20rem;
  height: 26.25rem;
  border-radius: 0.5rem;
  background-color: #4c6d1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people-img {
  margin-top: 10px;
}

.card-union,
.card-save {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  transition: opacity 0.2s ease;
}

.label {
  display: inline-block;
  background-color: #a2c946;
  color: #ffffff;
  font-weight: 600;
  border-radius: 0.3rem;
  padding: 2px 10px;
  margin-right: 8px;
  margin-bottom: 5px;
  font-size: 14px;
}
